footer
  .container-fluid
    .row
      .col-sm-6
        p.tagline &copy; 2015 Rabtet Roz B Laban Rights Reserved
      .col-sm-6.text-right
        a(href="#"): svg.icon <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-facebook"></use>
        a(href="#"): svg.icon <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-twitter"></use>
        //- a(href="#"): svg.icon <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-linkedin"></use>
