.row
  .columns.large-12
    h1 Employee's pages
    ol
      li: a(href="landing.html") Landing page
      li: a(href="signup.html") Sign Up
      li: a(href="welcome.html") Welcome
      li: a(href="self-image.html") Self image
      li: a(href="thanks.html") Thanks
      li: a(href="feeds-empty.html") Feeds (Empty)
      li: a(href="feeds.html") Feeds
      li: a(href="schedule-interview.html") Schedule Interview
    h1 Employer's pages
    ol
      li: a(href="login.html") Login
      li: a(href="jobs-list.html") Jobs list
      li: a(href="candidates.html") Candidates
      li: a(href="create-job.html") Create a job
      li: a(href="candidate-profile.html") Candidate profile
