.card
  .media
      a.media-left(href='#')
        img.media-object(src="images/default.png", alt='Generic placeholder image')
      .media-body
        p.label.danger 18+
        a: h4.media-heading Media heading
        p.description Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
        p.extra-info
          span #Tracks: 5 
          span.tags.pull-right
            i genre-1
            i genre-2
            i genre-3