.container
  .media1
    a.media1-left(href='#')
      img.profilepicture(src="images/default.png", alt='Generic placeholder image')
    .media1-body  
      h4.fullname Nadine Zayed
      p.birthdate Birthdate
      p.email nadineadelzayed@gmail.com
      p.website Website
  .readings
    h3.myreadings Readings
    ul.reads
      li
        img.read(src="images/default.png", alt='Generic placeholder image')
      li
        img.read(src="images/default.png", alt='Generic placeholder image')
      li
        img.read(src="images/default.png", alt='Generic placeholder image')