.row.quill-wysiwyg
  .col-sm-12
    #toolbar.ql-toolbar-container.toolbar
      .ql-format-group
        span.ql-bold.ql-format-button
        span.ql-italic.ql-format-button
        span.ql-strike.ql-format-button
        span.ql-underline.ql-format-button
        span.ql-format-button.ql-link
        span.ql-format-separator
      select.ql-size
        option(value='small') Small
        option(value='normal') Normal
        option(value='large') Large
    #editor
      p Hello World!
      p
        | This is just some sample text you can 
        b delete
        | .