// build:js({app,.tmp}) scripts/vendor.js
// bower:js
script(src='../bower_components/jquery/dist/jquery.js')
script(src='../bower_components/fastclick/lib/fastclick.js')
script(src='../bower_components/jquery.cookie/jquery.cookie.js')
script(src='../bower_components/jquery-placeholder/jquery.placeholder.js')
script(src='../bower_components/foundation/js/foundation.js')
script(src='../bower_components/JVFloat/jvfloat.min.js')
script(src='../bower_components/birthday-picker/bday-picker.js')
script(src='../bower_components/sifter/sifter.js')
script(src='../bower_components/microplugin/src/microplugin.js')
script(src='../bower_components/selectize/dist/js/selectize.js')
// endbower
// endbuild
// build:js({app,.tmp}) scripts/main.js
script(src='scripts/main.js')
// endbuild
