// build:js({app,.tmp}) scripts/vendor.js
// bower:js
script(src='../bower_components/jquery/dist/jquery.js')
script(src='../bower_components/bootstrap/dist/js/bootstrap.js')
script(src='../bower_components/quill/dist/quill.js')
script(src='../bower_components/slick-carousel/slick/slick.min.js')
// endbower
// endbuild
// build:js({app,.tmp}) scripts/main.js
script(src='scripts/functions.js')
script(src='scripts/main.js')
script(src='scripts/events.js')
// endbuild
